/.vs
/Libs/GizmoFort.Connector.ERPNext/obj
/Libs/GizmoFort.Connector.ERPNext/bin
/Libs/GizmoFort.Connector.ERPNext/*.nupkg
/Libs/GizmoFort.Connector.ERPNext/*.user
/Tests/GizmoFort.Connector.ERPNext.Tests/bin
/Tests/GizmoFort.Connector.ERPNext.Tests/obj
/Tests/GizmoFort.Connector.ERPNext.Tests/*.user
/Tools/GenerateCodeFromSchemaJson/bin
/Tools/GenerateCodeFromSchemaJson/obj
/Tools/GenerateCodeFromSchemaJson/*.user
/_ReSharper.Caches
/TestResults
/packages
